@using BE.Infrastructure.Model;
@using BE.Infrastructure.Service;

@model BibleViewInfo

@inject IBibleService bibleService

@{
    var Bibles = await bibleService.GetBibleVersionsAsync();
}

<div id="bible_tabs">
    <select asp-for="MainBible" id="mainBible">
        @foreach (var bible in Bibles)
        {
            @if (Model.MainBible == (BibleID)bible.ID)
            {
                <option value="@bible.ID" selected>@bible.Abbreviation</option>
            }
            else
            {
                <option value="@bible.ID">@bible.Abbreviation</option>
            }
        }
    </select>

    <select asp-for="OtherBibles" id="otherBibles" multiple>
        @foreach (var bible in Bibles)
        {
            @if (Model.OtherBibles.Contains((BibleID)bible.ID))
            {
                <option value="@bible.ID" selected>@bible.Abbreviation</option>
            }
            else if (Model.MainBible != (BibleID)bible.ID)
            {
                <option value="@bible.ID">@bible.Abbreviation</option>
            }
            @bible.Abbreviation
        }
    </select>
    
</div>
